<div id='push'></div>

<div id='footer'>
  <div class='container'>
    <%= link_to 'About', about_path %> | 
    <%= mail_to 'currently@andrewlin.net', 'Email me' %>
    <div class='pull-right'>Made by <%= link_to 'Andrew Lin', 'http://www.andrewlin.net' %></div>
  </div>
</div>
