<%= form_for Status.new, remote: false do |f| %>
  <%= f.text_area :content, placeholder: 'What are you doing?', id: 'update-status' %>
  <%= f.submit 'Update Status', class: 'btn btn-primary status-text-area' %>
  <span class="countdown"></span>
<% end %>