<div class="row demo-tiles">
  <div class="span4 offset4">
    <div class="tile">
      <img src="assets/icons/Pensils_2x.png" alt="Pensils@2x" class="tile-image">
      <h3 class="tile-title">Update Your Status</h3>
      <p>And replace the old one </p>
      <%= render partial: 'shared/login_with_facebook' %>
    </div>
  </div>
  </div>
</div>