<div class='container static-home'>
  <div class='static-main'>
    <img src='assets/full_logo.png'>
    <div class='row-fluid'>
      <div class='span12'><h3 class='static-main-subheader'>Your current status. That's it.</h3></div>
      <div><a href='/auth/facebook'><img src='assets/facebook_button.png'></a></div>
    </div>
  </div>
</div>