
<section class="header-10-sub v-center bg-midnight-blue">
    <div class="background">&nbsp;</div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1><strong>Currently</strong></h1>
                <p>
                  Keep up with your <em>real</em> friends
                </p>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>       

