<header class="header-10">
  <div class="container">
    <div class="navbar span12">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar"> </button>
        <a class="brand" href="<%= root_path %>">Currently</a>
        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <% if current_user %>
              <li><%= link_to current_user.name, user_path(current_user.slug) %></li>
              <li><%= link_to 'Settings', settings_path %></li>
              <li><a href="/signout">Sign Out</a></li>
            <% end %>
          </ul>
          <% unless current_user %>
            <form class="navbar-form pull-left">
              <%= render partial: 'shared/login_with_facebook' %>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

